# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Mac / OS X
.DS_Store

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

echo ".idea/" >> .gitignore
echo "node_modules/" >> .gitignore


venv/
__pycache__/
google-cloud-sdk/
google-cloud-cli-*.tar.gz

